<h1>My Tasks</h1>
<ol>
  <% @tasks.each do |task| %>
 <li> <% if task.completed == false %>
        <i class="far fa-square"></i>
      <% else %>
        <i class="far fa-check-square"></i>
      <% end %>
   <%=  link_to task.title, task_path(task) %>
    <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
 </li>
   <% end %>
</ol>

<%= link_to "+ Add a new task", "tasks/new" %>

