// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ol {
  list-style-type: none;
}

body {
  margin: 20px;
  padding: 10px;
}

.far {
  font-size: 20px;
}

h1 {
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}
